<div class="container spacer">
	Mot Clé : <input type="text" ng-model="motCle"/>
	<button ng-click="getPage()">Chercher</button>
</div>
<div class="container">
	<table class="table table-striped">
		<thead> 
			<tr>
				<th>ID</th><th>Designation</th><th>Prix</th><th>Quantité</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in pageProduits.content">
					<td>{{p.id}}</td>
					<td>{{p.designation}}</td>
					<td>{{p.prix}}</td>
					<td>{{p.quantite}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container">
	<ul class="nav nav-pills">
		<li ng-class="{active:$index==pageCourante}" ng-repeat="p in pages track by $index" class="clickable">
		<a ng-click="gotoPage($index)">{{$index}} </a>
		</li>
	</ul>
</div>